.root {
  padding: 40px 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 20px;
}

.title {
  font-size: 32px;
}

.control {
  line-height: 24px;
  font-size: 18px;
  border-radius: 6px;
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.submit {
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  text-transform: uppercase;
  border: 1px solid #ddd;
  cursor: pointer;
  font-weight: 600;
  
  &:hover {
    background-color: rgb(235, 235, 235);
  }
}

.error {
  color: red;
}